
<footer>
    <div class="f-socail">
        <a href="">  <i class="fa-brands fa-square-facebook"></i>  </a>
        <a href="">  <i class="fa-brands fa-square-instagram"></i>  </a>
        <a href="">  <i class="fa-brands fa-linkedin"></i>  </a>
    </div>
    <div class="f-brand">
        &copy;WanderLust Private Limited.
    </div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>