<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>

<p><%= fact%></p>

<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js"></script>