
    

    <header>
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/listings">Show All</a> </li>
                <li> <a href="/listings/new">Create New Listing</a> </li>
                <li></li>
            </ul>
        </nav>
    </header>
