<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Share Your Thoughts</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <section>
            <h1>Welcome To Quora</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aperiam quisquam hic nisi reiciendis quia aliquam perspiciatis commodi dolores, magnam accusamus nesciunt accusantium voluptatum iste modi ad, maiores sunt, dolorem tempore. Illum temporibus soluta fugit sed corporis quis labore est ducimus facere eveniet. Corporis laudantium similique ducimus voluptatum quidem officiis incidunt porro ab aspernatur delectus quae omnis ipsam, voluptatem rem nisi error facere. Saepe quisquam neque, omnis velit modi distinctio ex natus nostrum commodi ab tempora. Temporibus, architecto! Nisi, beatae autem? Accusamus perspiciatis impedit ipsam alias quisquam inventore in, sed et obcaecati deserunt consequuntur mollitia eum a expedita libero suscipit?</p>
        </section>
        <section>
            <h3>What's New Here ?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam ipsa fugiat suscipit libero minus ducimus vel voluptatum non repellat! Perferendis, ipsum illo. Non, consequatur provident. Ab corporis sit eum voluptatibus adipisci dolores modi molestias nam nesciunt veritatis laboriosam nihil temporibus libero ut facere eveniet at ad, deserunt enim laudantium?</p>
        </section>
        <section>
            <h3>For You</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam ipsa fugiat suscipit libero minus ducimus vel voluptatum non repellat! Perferendis, ipsum illo. Non, consequatur provident. Ab corporis sit eum voluptatibus adipisci dolores modi molestias nam nesciunt veritatis laboriosam nihil temporibus libero ut facere eveniet at ad, deserunt enim laudantium?</p>
        </section>
    </main>
</body>
</html>