<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter your username" name="username"> <br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Enter Your Thoughts"></textarea>
        <button>Post My Post</button>
    </form>
</body>
</html>